<!-- Header -->
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/favicon-black.svg" alt="Logo">
            <span>My Fitness Friend</span>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/exercises">Workout Library</a>
            <a href="#">My Progress</a>
            <a href="/bmi">BMI Calculator</a>
        </nav>
        <div class="auth-buttons">
            <button class="btn-login">Log In</button>
            <button class="btn-signup">Sign Up</button>
        </div>
    </div>
</header>