<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found - My Fitness Friend</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/404.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
</head>
<body>
    <div class="not-found">
        <h1>404</h1>
        <img src="/images/404.png" alt="404 Not Found" height="200">
        <p>Oops! Looks like this page doesn't exist.</p>
        <a href="/" class="back-home">Back to Home</a>
    </div>
</body>
</html>